[Unit]
Description=Application service
#DefaultDependencies=no
Requires=fbcp.service
After=fbcp.service psplash-start.service

[Service]
ExecStart=/usr/bin/application.sh

[Install]
WantedBy=fbcp.service
