[Unit]
Description=Splash screen
#DefaultDependencies=no
After=graphical.target

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose -t 10 -1 -a /lib/systemd/system/psplash-davide-img.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target
