[Unit]
Description=Fbcp copy screen startup script
After=network.target 

[Service]
ExecStart=/usr/bin/fbcp

[Install]
WantedBy=multi-user.target
#ExecStartPre=/bin/sleep 30

