[Unit]
Description=Fbcp copy screen startup script
After=graphical.target

[Service]
ExecStart=/usr/bin/fbcp
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target


