#ExecStartPre=/bin/sleep 30

[Unit]
Description=Fbcp copy screen startup script

[Service]
ExecStart=/usr/bin/fbcp
After=network.target

[Install]
WantedBy=multi-user.target

