[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target fbcp.service

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose -t 20 -1 /lib/systemd/system/psplash-davide-img.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target

